.container-cart {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  gap: 200px;
  padding: 150px;
}

.box{
    padding:100px;
    width: auto;
    margin-bottom:10px ;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.11);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    text-align: left;
}

.box p {
    margin: 10px;
}