.btn-produto {
  width: 150px;
  height: 60px;
}
.container-product {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 50px auto;
  padding: 50px;
  width: 50%;
  gap: 40px;
}

.container-product img {
  width: 20rem;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  color: black;
  background-color: white;
  margin: 0;
  border-color: gray;
  border-width: 3px;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: #000000;
  border-radius: 1rem;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
